# =========================
# Django settings
# =========================
DEBUG=True
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=127.0.0.1,localhost,etc
CSRF_TRUSTED_ORIGINS=http://localhost:8008,http://127.0.0.1:8008

# =========================
# Database (mySQL)
# Si se ejecuta con Docker Compose, usar los valores de DB_HOST y DB_PORT correspondientes al servicio de base de datos definido en docker-compose.yml
# Si se ejecuta localmente, usar los valores de DB_HOST y DB_PORT correspondientes a la configuración local de MySQL
# =========================
DB_NAME=findit
DB_USER=root
DB_PASSWORD=password
DB_ROOT_PASSWORD=passwordsupersecure
DB_HOST=localhost
DB_PORT=1234

# =========================
# Superuser (Docker Compose)
# =========================
SUPERUSER_EMAIL=admin@uanl.edu.mx
SUPERUSER_PASSWORD=password
SUPERUSER_FIRST_NAME=Chalino
SUPERUSER_LAST_NAME=Sanchez
SUPERUSER_TUITION=1234567